<li class="bottom-margin">
	{{burger_name}}

	<button class="devour btn btn-large btn-primary" data-id="{{id}}" data-devState="{{devoured}}">
		{{#if devoured}}GET A NEW ONE!{{else}}EAT DA BURGER!{{/if}}
	</button>
	
</li>
